*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    font-size: 15;
}

#CAR-INFO{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 60%;
    height: 100vH;
    margin-bottom: 0;    
    padding-bottom: 0;
}

#SEDANS, #SUVS, #LUXURY{
    padding: 2em;
    color: white;
}

#SEDANS{
    background-color: hsl(31, 77%, 52%);
}

#SUVS{
   background-color: hsl(184, 100%, 22%);
}

#LUXURY{
    background-color: hsl(179, 100%, 13%);
}

#SEDANS
{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#LUXURY{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

img{
    padding-bottom: 30px;
    width: 50px;
}


h2{
    padding-bottom: 30px;
    font-family:'Big Shoulders Display';
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 14px;
    word-spacing: 3px;
    line-height: 25px;
    padding-bottom: 100px;
    font-family: 'Lexend Deca';
}

button{
    border: 2px solid white;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: white;
    font-family: "Lexend Deca",
            "Big Shoulders Display";
    font-weight: 700;
    margin-bottom: 20px;
}

button:hover{
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: normal;
}

.sedansBtn{
    color: hsl(31, 77%, 52%);
}

.suvsBtn{
    color: hsl(184, 100%, 22%);
}

.luxuryBtn{
    color: hsl(179, 100%, 13%);
}

h3{
    text-align: center;
    padding-top: 30px;
    margin: 0;
}

@media (max-width: 375px){
    #SEDANS,
        #SUVS,
        #LUXURY {
            width: 100%;
            margin-top: 300px;
            padding: 1em;
            font-size: 12px;
        }

        button{
            font-size: 10px;
        }
}